<!-- Hero Start -->
<section class="hero-6-bg position-relative" style="background-image: url(assets/images/background.jpg)" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h1 class="text-white hero-6-title mb-4 line-height-1_4">Шинэ бүтээгдэхүүнүүд ирлээ</h1>
          <p class="text-white-50 w-75 mx-auto font-size-15">Орчин үеийн хувцасуудыг авах боломжийг олгов.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->