<!-- Blog start -->
<section class="section background" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-box mb-4 mb-lg-0">
                    <a href="javascript: void(0);" class="text-white font-weight-bold h1">Adidas Men Running Sneakers</a>
                    <p class="text-white font-size-15">Performance and design. Taken right to the edge.</p>
                    <a href="javascript: void(0);" class="text-white font-weight-semibold">Shop now <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-box mb-4 mb-lg-0">
                    <img src="assets/images/blog/img-1.jpg" alt="" class="img-fluid d-block mx-auto rounded">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog End -->