<!-- Blog start -->
<section class="section background" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-box mb-4 mb-lg-0">
                    <a href="javascript: void(0);" class="text-white font-weight-bold h1">2021 оны шинэ коллекц</a>
                    <p class="text-white font-size-15">Загварлаг, дэгжин, эвтэйхэн.</p>
                    <a href="javascript: void(0);" class="text-white font-weight-semibold">Цааш <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-box mb-4 mb-lg-0">
                    <img src="assets/images/banner.png" alt="" class="img-fluid d-block mx-auto rounded">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog End -->