$red: #ff0000;
$white: #fff;
$black: #000;
$lightgray: #f6f7f8;
$gray1: #f6f5f5;
$gray2: #b3b3b3;
$background-body: #f7faff;
$background-gray: #e1e1e11f;
$gray: #919699;
$nav-icon: #535353;
$blue: #1b76ff;
$main: #42427d;
$light-blue: #c7f2ff;
$text-secondary: #a0aac8;
