<!-- Blog start -->
<section class="section" id="blog">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="blog-box mb-4 mb-lg-0">
                    <div class="justify-content-center img-container">
                        <img src="assets/images/shipping.png" alt="" class="img-fluid d-block mx-auto rounded">
                    </div>
                    <div class="text-center text-dark font-weight-bold h5">
                        Хүргэлтийн нөхцөл
                    </div>
                    <p class="text-muted font-size-15 text-center">Хүргэлт Улаанбаатар хот дотор 5000₮ үнэтэй ба хөл хорионы үеэр таны захиалсан бүтээгдэхүүн захиалга баталгаажсан өдрөөс хойш 5-6 өдрийн дараа хүргэгдэх ба хөдөө орон нутагт хүргэлт хийгдэхгүй байгааг анхаарна уу!</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-box mb-4 mb-lg-0">
                    <div class="justify-content-center img-container">
                        <img src="assets/images/refund.png" alt="" class="img-fluid d-block mx-auto rounded">
                    </div>
                    <div class="text-center text-dark font-weight-bold h5">
                        Төлбөрийн мэдээлэл
                    </div>
                    <p class="text-muted font-size-15 text-center">Төлбөрөө 100% дансанд шилжүүлснээр таны захиалга баталгаажих болно.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-box mb-4 mb-lg-0">
                    <div class="justify-content-center img-container">
                        <img src="assets/images/user.png" alt="" class="img-fluid d-block mx-auto rounded">
                    </div>
                    <div class="text-center text-dark font-weight-bold h5">
                        Үйлчилгээний нөхцөл
                    </div>
                    <p class="text-muted font-size-15 text-center">Та худалдан авсан бараагаа буцаах хүсэлтэй байвал бараагаа хүлээн авснаас хойш 24 цагын дотор манай албан ёсны Facebook хуудас, болон Instagram хаяг руу бичин дэлгэрэнгүй мэдээлэл аваарай. Буцаах гэж байгаа бүтээгдэхүүн шинэ байдлаа алдаагүй байх, шошго бүрэн бүтэн байх хэрэгтэйг анхаарна уу!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog End -->