<!-- Blog start -->
<section class="section" id="blog">
    <div class="container">
        <div class="row">
            <ul class="list-inline text-muted font-size-14 font-weight-medium mt-3 mb-2">
                <li class="list-inline-item mr-3">
                    Нүүр
                </li>
                <li class="list-inline-item">
                    / Нэвтрэх
                </li>
            </ul>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 background">
                <ng-container *ngIf="loggedIn">
                    <p class="text-muted font-size-15">ТАВТАЙ ЗОЧИЛЖ БАЙНА УУ!.</p>
                </ng-container>
                <ng-container *ngIf="!loggedIn">
                    <div class="text-center Subcribe-form mb-5">
                        <h3 class="title mb-3">Нэвтрэх</h3>

                        <button type="submit" class="btn facebook ml-12 mt-12 mt-sm-12" (click)="login()">Facebook-ээр
                            нэвтрэх</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>
<!-- Blog End -->