<!-- Footer Start -->
<section class="footer" style="background-image: url(assets/images/footer-bg.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item mr-3">
              <img src="assets/images/agile2.png" alt="" class="" height="32">
            </li>
            <li class="list-inline-item">
              {{merchData.shopName}}
            </li>
          </ul>
          <p class="text-white-50 my-4 font-size-15">{{merchData.detail}}</p>
        </div>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="row">
          <div class="col-md-4">
            <h6 class="text-white text-uppercase mb-4">Бидний тухай</h6>
            <ul class="list-unstyled footer-sub-menu">
              <li><a href="javascript: void(0);" class="footer-link">Салбарууд</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Алсын хараа</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Зорилго</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="text-white text-uppercase mb-3">Бараа бүтээгдэхүүн</h6>
            <ul class="list-unstyled footer-sub-menu">
              <li><a href="javascript: void(0);" class="footer-link">Хувцас</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Цамц</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Өмд</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Гутал</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="text-white text-uppercase mb-3">Холбоо барих</h6>
            <ul class="list-unstyled footer-sub-menu">
              <li><a href="javascript: void(0);" class="footer-link">Утас: 7777-7777</a></li>
              <li><a href="javascript: void(0);" class="footer-link">support@agile.mn</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Энхтайвны өргөн чөлөө 3-р хороо, Чингэлтэй дүүрэг,
                  Улаанбаатар хот, Монгол ул</a></li>
              <li><a href="javascript: void(0);" class="footer-link">Agile tower - 999 тоот</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer-alt py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p class="text-white-50 font-size-15 mb-0"> © Agile. Design By Sukhbat</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->