<app-side-menu [index]="1"></app-side-menu>

<div class="area">
  <div class="main">
    <div class="split">
      <div class="right-section">
        <div class="header-section">
          <div class="header">
            Тавтай морил, {{custDataRes?.lastName}}
          </div>
          <div class="shop-detail">
            <div class="img-container" style="background-image: url('assets/img/dashboard/background.png');">
            </div>
            <div class="row" style="justify-content: center;">
              {{custDataRes?.merchData?.shopName}}
            </div>
            <div class="row" style="justify-content: center;">
              <button mat-flat-button class="btn" routerLink="/settings">
                <mat-icon>edit</mat-icon>Засах
              </button>
            </div>

            <p class="row">
              {{custDataRes?.merchData?.detail}}
            </p>
            <div class="row">
              Утас: {{custDataRes?.merchData?.telephone}}
            </div>
            <div class="row">
              И-мэйл: {{custDataRes?.merchData?.email}}
            </div>
            <div class="row">
              Хаяг: {{custDataRes?.merchData?.address}}
            </div>
          </div>
        </div>
      </div>

      <div class="middle-section">
        <div class="no-margin">
          <div class="orders center">
            <div class="notif center">
              <mat-icon>list_alt</mat-icon>
            </div>
            <div>
              <div>
                0
              </div>
              <div>
                Захиалга
              </div>
            </div>
          </div>
          <div class="orders center">
            <div class="notif center">
              <mat-icon>list_alt</mat-icon>
            </div>
            <div>
              <div>
                0
              </div>
              <div>
                Бүтээгдэхүүн
              </div>
            </div>
          </div>
          <div class="orders center edit" (click)="goEdit()">
            <div class="notif center" style="margin: 0;">
              <mat-icon>tune</mat-icon>
            </div>
          </div>
        </div>

        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels">
        </apx-chart>
      </div>
    </div>
  </div>
</div>